*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width: 80%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: teal;
    font-size: 2rem;
}

.left-nav a {
    margin-right: 2rem;
    color: white;
    text-decoration: none;
}

nav > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem;
    background-color: brown;
    color: wheat;
}
main{
    display: flex;
    background-color: teal;
    text-align: center;
    color: white;
}
main .left{
    width: 30%;
    border: 2px solid red;
}
main .middle{
    width: 35%;
    border: 2px solid red;
}
main .right{
    width: 35%;
    border: 2px solid red;
}
.left h5{
    margin: 10px;
    padding: 15px;
}
.middle h5, p{
    padding: 15px;
}
.testimony{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: cornflowerblue;
     perspective: 1000px;
}
.testimony .card{
    border: 2px solid teal;
    border-radius: 10px;
    padding: 15px;
    margin: 1.5rem;
    text-align: center;
    transition: 300ms ease;
}
.testimony .card:hover{
    background-color: aqua;
    transform: rotateY(-5deg);
}
.hlw{
    color: red;
}
.hlw::before{
    content: "ki je kore ";
}
.hlw::after{
     content: "👉";
  margin-left: 1rem;
}