*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.counter{
    max-width: 100%;
    width: 50%;
    padding: 25px;
    background-color: cadetblue;
    margin: 10px auto;
    text-align: center;
    color: wheat;
    font-size: 25px;
}
.displayBack{
    background-color: red;
    padding: 10px;
}
#displayNumber{
    font-size: 25px;
    color: white;
    border: 2px solid greenyellow;
    border-radius: 50%;
    overflow: auto;
}
#btnClear, #save, #btnDecrease, #btnIncrease, #btnReset{
    padding: 10px;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
    color: red;
    border: 1px solid green;
    border-radius: 10px;

}