*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.icone-bar{
    width: 90px;
    background-color: rgb(129, 129, 129);
}
.icone-bar a{
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    color: white;
    transition: all 0.3s ease;
}
.icone-bar a:hover{
    background-color: aqua;
}
.active {
  background-color: #15faa6; /* Add an active/current color */
}